<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題回答</title>
</head>
<body>
    <h1>回答してください</h1>

    <table>
        <tr>
            <th >タイトル</th>
            <th >問題文</th>
            <th >選択肢1</th>
            <th >選択肢2</th>
            <th >選択肢3</th>
            <th >選択肢4</th>
        </tr>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.title }}</td>
            <td>{{ quiz.text }}</td>
            <td>{{ quiz.ans }}</td>
            <td>{{ quiz.cand1 }}</td>
            <td>{{ quiz.cand2 }}</td>
            <td>{{ quiz.cand3 }}</td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>