<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題一覧</title>
</head>
<body>
    <p>{{ quizset.id }}</p>
    <p>{{ quizset.title }}</p>
    <table>
        <tr>
            <th >ID</th>
            <th >名前</th>
        </tr>
        {% for quiz in quizzes %}
        <tr>
            <td> {{ quiz.title }} </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/quiz/{{ quizset.id }}/answer">回答スタート</a>

</body>
</html>