<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題回答</title>
</head>
<body>
    <h1>検索結果</h1>
    <table>
        <tr>
            <th >ID</th>
            <th >名前</th>
        </tr>
        {% for quizset in quizsets %}
        <tr>
            <td><a href="/quiz/{{ quizset.id }}"><p>{{ quizset.id }}</p></a></td>
            <td>{{ quizset.title }}</td>
            <td>{{ quizset.quiz }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
