<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>
<body>
    <h1>ようこそ、{{ current_user.name }} {% if current_user.role %}先生{% else %}君{% endif %}</h1>
    <a href="/quiz">問題回答</a>
    <a href="/make/quiz">問題作成</a>
    {% if current_user.role %}
    <a href="/make/quizset">問題セット作成</a>
    {% endif %}
    <a href="/view">回答結果</a>
    <a href="/owner_view">回答結果(作成者)</a>
    <a href="/users">ユーザ選択</a>
    <table>
        <tr>
            <th >ID</th>
            <th >名前</th>
        </tr>
        {% for quizset in quizsets %}
        <tr>
            <td><p>{{ quizset.id }}</p></td>
            <td>{{ quizset.title }}</td>
            <td>{{ quizset.quiz }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>