<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題作成</title>
</head>
<body>
    <form action="/make" method="POST">
        <div>タイトル:<input type="text" name="title"></input></div>
        <div>問題文:<textarea name="text"></textarea></div>
        <div>答え:<input type="text" name="ans"></input></div>
        <div>答え(ダミー1):<input type="text" name="cand1"></input></div>
        <div>答え(ダミー2):<input type="text" name="cand2"></input></div>
        <div>答え(ダミー3):<input type="text" name="cand3"></input></div>
        <div>
            <input type="submit" value="送信">
            <input type="reset" value="取消">
        </div>
    </form>
</body>
</html>