<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズセット作成</title>
</head>
<body>
    <h1>問題一覧</h1>
    <table>
        <thead>
            <tr>
                <th>問題ID</th>
                <th>タイトル</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>