<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>統計</title>
    <style>
        body {
            background-color: #F8EDE3;
        }
    </style>
</head>
<body>
    <h1>{{ quizset.title }} の解答状況</h1>

    <table>
        <tr>
            <th>解答者</th>
            <th>得点</th>
        </tr>
        {% for result in setted_results %}
        <tr>
            <td>{{ result[0].name }}</td>
            <td>{{ result[1] }} / {{ result[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>